################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.suo
*.sqlite
**\bin
**\obj
**\.vs
**\packages
