<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmployeeService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49831/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="Sample.Service.Wcf.Interfaces.IEmployeeService"
          name="BasicHttpBinding_IEmployeeService" />
    </client>
  </system.serviceModel>
</configuration>